:root {
    --primary-color: #103955;  /* Dark Blue */
    --secondary-color: #954f73; /* Dark Magenta */
    --accent-color: #484848;   /* Gray */
    --background-color: #FFFFFF; /* White */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/contact_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}

.contactHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.contactHeadline h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

.contactHeadline p {
    color: var(--accent-color);
    font-size: 1.1rem;
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
}

form {
    background-color: var(--background-color);
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: 600;
    color: var(--primary-color);
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--background-color);
    font-size: 1rem;
}

textarea {
    height: 120px;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.contactMethod {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        margin-top: -30px;
        margin-bottom: -40px;
        width: 320px;
    }

    
}

@media (max-width: 480px) {
    .logo {
        margin-top: -30px;
        margin-bottom: -40px;
        width: 300px;
    }

    form {
        padding: 20px;
    }
}