body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Aligns children vertically */
    min-height: 100vh;
    /* Ensures body takes full height */
    background-image: url('../img/contact_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #053a4f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Navigation links */
header .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

header .nav-links a:hover {
    color: #87CEEB;
    transition: color 0.3s ease;
}

.contactHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #346578;
    color: whitesmoke
}


h2 {
    color: whitesmoke;
    font-weight: bold;
}

p {}


form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    /* This allows the form to take up available space */
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #333;
}

.contactMethod {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 85%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 8rem;
}

input[type="submit"] {
    background-color: #053a4f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #6EC6E8;
    transition: background-color 0.3s ease;
}

/* Footer styles */
footer {
    background-color: #053a4f;
    /* Footer background color */
    color: white;
    /* Text color */
    text-align: center;
    /* Center align text */
    padding: 15px 0;
    /* Add top and bottom padding */
    width: 100%;
    /* Full width of the page */
    margin-top: auto;
    /* Ensure footer stays at the bottom */
}

footer p {
    margin: 5px 0;
    /* Space between paragraphs */
    line-height: 1.5;
    /* Improved line height for readability */
}

footer a {
    color: #87CEEB;
    /* Link color */
    text-decoration: none;
    /* Remove underline from links */
}

footer a:hover {
    text-decoration: underline;
    /* Underline on hover */
}