:root {
    --primary-color: #103955;  /* Dark Blue */
    --secondary-color: #954f73; /* Dark Magenta */
    --accent-color: #484848;   /* Gray */
    --background-color: #FFFFFF; /* White */
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h4 {
    color: var(--secondary-color);
}
.header-logo {
    margin-left: -40px;
    margin-top: -25px;
    margin-bottom: -50px;
    width: 300px;
    height: auto;
    object-fit: contain;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.container,
.nav-container {
    width: 90%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--background-color);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}

.nav-links li a:hover,
.nav-links li a:focus,
.nav-links li a:active {
    color: var(--secondary-color); 
}

/* Hero Section */
.hero {
    background: var(--primary-color);
    color: var(--background-color);
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    padding: 5px 20px;
    background-color: var(--primary-color);  
    color: var(--background-color);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color); 
}


@media (min-width: 520px) {
    .hero-btns {
        flex-direction: row;
        justify-content: center;
    }
}

.hero-btns .btn {
    padding: 12px 30px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.hero-btns .secondary-btn {
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--secondary-color);
}

/* About Section */
.about {
    padding: 50px 0;
}

.about h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 1.5rem;
    }
}

.about p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Projects Section */
.projects {
    padding: 50px 0;
    background-color: var(--background-color);
}

.projects h2 {
    color:var(--accent-color);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .projects h2 {
        font-size: 1.5rem;
    }
}

.projects-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.project-card h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.project-card p {
    font-size: 1rem;
}

/* Get Involved Section */
.get-involved {
    padding: 50px 0;
    text-align: center;
}

.get-involved h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .get-involved h2 {
        font-size: 2rem;
    }
}

.involved-btns {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.involved-btns .btn {
    padding: 12px 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.involved-btns .secondary-btn {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

@media (min-width: 520px) {
    .involved-btns {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}

/* Footer */
.footer {
    background: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 0;
}

/* Mobile Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 0 2rem;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav.active .nav-links {
        display: flex;
    }
}

footer p a {
    color: var(--background-color);
    text-decoration: none; 
}

footer p a:hover {
    color:var(--secondary-color); 
}

.project-card .coming-soon-text {
    color: var(--secondary-color); 
}